    <div class="container">
        <div class="nav">
            <% if user_signed_in? %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete , class: 'btn btn-passive'%>
            <%= link_to "My Tickets", bookings_path, class: 'btn btn-passive' %>
            <strong class="icon-user"><%=current_user.email[0,current_user.email.index('@')] %></strong>
            <% else %>
            <%= link_to "Log In", new_user_session_path, class: 'btn btn-passive'%>
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-action" %>
            <% end %>
        </div>
        <h1>SKK Bookings</h1>

        <table class="layout display responsive-table">
            <thead>
                <tr>
                    <th class="table upper left">Company</th>
                    <th>Departure</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Available tickets</th>
                    <th colspan="3"></th>
                </tr>
            </thead>

            <tbody>
                <% @tickets.each do |ticket| %>
                <% if (ticket.departure-2.hours)>DateTime.now  %>
                <tr>
                    <td><%= ticket.company %></td>
                    <td><%= ticket.departure.to_formatted_s(:long)    %></td>
                    <td><%= ticket.from %></td>
                    <td><%= ticket.to %></td>
                    <% num_available =  ticket.num_max - @bookings.where(ticket_id: ticket.id).length %>
                    <td><%= num_available  %></td>
                    <% if num_available > 0 %>
                    <td><%= link_to 'Buy', new_ticket_booking_path(ticket), class: "btn btn-buy" %></td>
                    <% else  %>
                    <td>No more available tickets</td>
                    <% end %>
                </tr>
                <%end%>
                <% end %>
            </tbody>
        </table>
    </div>