<p>
  <strong>Company:</strong>
  <%= @ticket.company %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @ticket.departure %>
</p>

<p>
  <strong>From:</strong>
  <%= @ticket.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @ticket.to %>
</p>

<%= link_to 'Back to tickets', root_path %>
